<div class="edit-form">
  {{#each posts as |post|}}
  <form action="">
    <div class="container m-4" id="post-content">
    <a id= "post-title" href="/post/{{post.id}}">{{post.title}}</a>
    <p id="content-info">{{post.content}}</p>
    </div>
    <div class="editContainer">
      <label for="title">Title</label>
      <input
        type="text"
        placeholder="type title here"
        value="{{post.title}}"
        id="title"
        name="title"
      />
    </div>
    <div class="editContainer">
      <label for="content">Content</label>
      <input
        type="content"
        placeholder="type content here"
        value="{{post.content}}"
        id="content"
        name="content"
      />
    </div>
    <div class="comments">
      created by you on {{format_date post.date_created}} | 
    </div>
    <a href="/post/{{post.id}}">{{post.comments.length}} {{format_plural "comment" post.comments.length}}</a> |
    <button type="submit" id="comment-btn">save</button> |
    <button type="button" id="delete-btn">delete post</button>
  </form>
  {{/each}}
  
</div>

<script src="/javascript/edit.js"></script>
<script src="/javascript/delete.js"></script>
<script src="/javascript/comment.js"></script>