<div id="post-structure" class="bg-blue-800 p-6 m-8">
    {{#each posts as |post|}}
    <div class="container m-4"></div>
    {{!-- check to see if this is correct formatting --}}
    <a href="/post/{{post.id}}">{{post.title}}</a>
    <p>{{post.content}}</p>
    <p>{{format_date post.date_created}}</p>
    <p>by: {{user.name}}</p>
    {{/each}}
    </div>
  </div>
