<div id="post-structure" class="bg-blue-800 p-6 m-8">
    {{#each posts as |post|}}
    <div class="container m-4"></div>
    {{!-- check to see if this is correct formatting --}}
    <div id="post-content">
    <a id= "post-title" href="/post/{{post.id}}">{{post.title}}</a>
    <p id="content-info">{{post.content}}</p>
    </div>
    <div id="user-info">
    <p class="post-info">Date Posted:{{format_date post.date_created}}</p>
    <p class="post-info">Written by: {{user.name}}</p>
    </div>
    {{/each}}
    </div>
  </div>
